@media only screen 
and (min-device-width : 300px) 
and (max-device-width : 736px) {

    .mobile-center {
        text-align: center;
    }

    .mobile-header {
        clear: both;
        width: 100%;
    }

    .mobile-button {
        width: 100%;
        font-size: 40px;
    }

    .mobile-list {
        width: 100%;
    }

    .mobile-text-large {
        font-size: 50px;
    }

    .mobile-text-medium {
        font-size: 40px;
    }

    ul.search-by-list li {
        flex: 0 1 auto;
        border-radius: 0;
        display: inline-block;
    }

    ul.search-by-list {
        text-align: center;
        display: flex;
        padding: 0;
    }

    .nav-specific {
        margin: 0;
    }

}